<div class="container">
  <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)" class="form">
    <fieldset>
      <div class="flex-cards">
        <legend>З картки</legend>
        <a href="#" class="flex">Мій гаманець<mat-icon aria-hidden="false" aria-label="Натисніть щоб перейти до вибору картки" fontIcon="account_balance_wallet">account_balance_wallet</mat-icon></a>
      </div>
      <div class="flex-cards_customer">
        <label for="customerCard">Номер картки</label>
        <input type="text" name="customerCard" id="customerCard" ngModel required #userName="ngModel" placeholder="0000 0000 0000 0000"
        aria-label="Введіть номер картки відправника">
     </div>
      <div class="flex">
        <div>
          <label for="termin">Термін дії</label>
          <input type="text" name="termin" id="termin" ngModel required #userName="ngModel" placeholder="01/12">
       </div>
       <div>
        <label for="cvv">CVV-код</label>
        <div class="flex-cvv">
          <input type="text" name="cvv" id="cvv" ngModel required #userName="ngModel" placeholder="***">
          <mat-icon tabindex="0" aria-hidden="false" fontIcon="info" aria-label="CVV-код - останні 3 цифри на зворотнбому боці картки"></mat-icon>
       </div>
       </div>
      </div>
   </fieldset>
   <fieldset>
    <div class="flex-cards">
      <legend>Картка одержувача</legend>
      <a href="#" class="flex">Мій гаманець <mat-icon aria-hidden="false" aria-label="Натисніть щоб перейти до вибору картки" fontIcon="account_balance_wallet">account_balance_wallet</mat-icon></a>
    </div>
    <div class="flex-cards_receiver" >
      <label for="receiverCard">Номер картки</label>
      <input type="text" name="receiverCard" id="receiverCard" ngModel required #userName="ngModel"  placeholder="0000 0000 0000 0000"
      aria-label="Введіть номер картки отримувача">
   </div>
 </fieldset>
 <div class="flex flex-amount">
    <div aria-label="Сума переказу">
      <label for="amount">Сума</label>
      <input type="text" name="amount" id="amount" ngModel required #userName="ngModel" aria-label="Введіть суму переказу">
   </div>
   <div class="flex-currency">
     <select name="currency" id="currency" aria-label="Виберіть валюту переказу">
      <option value="uah">UAH</option>
      <option value="eur">EUR</option>
    </select>
  </div>
</div>
<div class="btn_container">
  <button type="submit" class="btn_submit">Переказати</button>
</div>
  </form>
</div>
